# Large raw data (too large for GitHub)
*.csv
patches/

# PDF
*.pdf

# Windows Zone.Identifier files
*:Zone.Identifier

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Homework folders
HW4/
HW5/

# OS
.DS_Store
Thumbs.db
